# KNN, Bayes, Decision Tree

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from collections import OrderedDict
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [ ]:
url_dataset = "https://raw.githubusercontent.com/Zey21/dataset/main/BankChurners.csv"
dataset = pd.read_csv(url_dataset)

In [ ]:
dataset.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [ ]:
list_drop = ['CLIENTNUM','Attrition_Flag','Card_Category','Total_Relationship_Count','Months_Inactive_12_mon','Contacts_Count_12_mon','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
dataset = dataset.drop(columns = list_drop)

Mengolah data

In [ ]:
data1 = dataset[["Gender","Education_Level"]]

In [ ]:
data1.head()

  Gender Education_Level
0      M     High School
1      F        Graduate
2      M        Graduate
3      F     High School
4      M      Uneducated

In [ ]:
data2 = dataset[["Marital_Status","Income_Category"]]

In [ ]:
data2.head()

  Marital_Status Income_Category
0        Married     $60K - $80K
1         Single  Less than $40K
2        Married    $80K - $120K
3        Unknown  Less than $40K
4        Married     $60K - $80K

Mengubah isi text to numeric menggunakan dummies dari pandas

In [ ]:
data1 = pd.get_dummies(data1)
data1

,Gender_F,Gender_M,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown
0,0,1,0,0,0,1,0,0,0
1,1,0,0,0,1,0,0,0,0
2,0,1,0,0,1,0,0,0,0
3,1,0,0,0,0,1,0,0,0
4,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...
10122,0,1,0,0,1,0,0,0,0
10123,0,1,0,0,0,0,0,0,1
10124,1,0,0,0,0,1,0,0,0
10125,0,1,0,0,1,0,0,0,0
10126,1,0,0,0,1,0,0,0,0

In [ ]:
data2 = pd.get_dummies(data2)
data2

,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown
0,0,1,0,0,0,0,1,0,0,0
1,0,0,1,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,1,0
4,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
10122,0,0,1,0,0,1,0,0,0,0
10123,1,0,0,0,0,1,0,0,0,0
10124,0,1,0,0,0,0,0,0,1,0
10125,0,0,0,1,0,1,0,0,0,0
10126,0,1,0,0,0,0,0,0,1,0

Normalisasi Data

In [ ]:
dataNormalisasi = dataset.drop(columns = ["Gender","Education_Level","Marital_Status","Income_Category"])

In [ ]:
dataNormalisasi

,Customer_Age,Dependent_count,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,45,3,39,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,49,5,44,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,51,3,36,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,40,4,34,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,40,3,21,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...
10122,50,2,40,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,41,2,25,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,44,1,36,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,30,2,36,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,43,2,25,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

Normalisasi menggunakan MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
scaler.fit(dataNormalisasi)

MinMaxScaler()

In [ ]:
HasilNormalisasi = scaler.transform(dataNormalisasi)

Mentranformasi Hasil Normalisasi dengan menggunakan Columns Data Normalisasi

In [ ]:
HasilNormalisasi = pd.DataFrame(HasilNormalisasi)
HasilNormalisasi.columns = ["Customer_Age","Dependent_count","Months_on_book","Credit_Limit","Total_Revolving_Bal","Avg_Open_To_Buy","Total_Amt_Chng_Q4_Q1","Total_Trans_Amt","Total_Trans_Ct","Total_Ct_Chng_Q4_Q1","Avg_Utilization_Ratio"]

In [ ]:
HasilNormalisasi

,Customer_Age,Dependent_count,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0.404255,0.6,0.604651,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061
1,0.489362,1.0,0.720930,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105
2,0.531915,0.6,0.534884,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000
3,0.297872,0.8,0.488372,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761
4,0.297872,0.6,0.186047,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
10122,0.510638,0.4,0.627907,0.077536,0.735399,0.062266,0.206947,0.832647,0.829457,0.230749,0.462462
10123,0.319149,0.4,0.279070,0.085819,0.868494,0.060499,0.236679,0.459219,0.457364,0.183899,0.511512
10124,0.382979,0.2,0.534884,0.120042,0.000000,0.156637,0.241095,0.544175,0.387597,0.220248,0.000000
10125,0.085106,0.4,0.534884,0.116172,0.000000,0.152928,0.157492,0.438689,0.403101,0.194400,0.000000
10126,0.361702,0.4,0.279070,0.270566,0.779102,0.244082,0.206947,0.544342,0.395349,0.174744,0.189189

Merger 4 tabels with concat from pandas

In [ ]:
TakeCategory = pd.read_csv(url_dataset)
TakeCategory = TakeCategory[["Card_Category"]]

In [ ]:
Hasil = pd.concat([TakeCategory,data1,data2,HasilNormalisasi],axis =1)

In [ ]:
Hasil

,Card_Category,Gender_F,Gender_M,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,...,Dependent_count,Months_on_book,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Blue,0,1,0,0,0,1,0,0,0,...,0.6,0.604651,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061
1,Blue,1,0,0,0,1,0,0,0,0,...,1.0,0.720930,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105
2,Blue,0,1,0,0,1,0,0,0,0,...,0.6,0.534884,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000
3,Blue,1,0,0,0,0,1,0,0,0,...,0.8,0.488372,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761
4,Blue,0,1,0,0,0,0,0,1,0,...,0.6,0.186047,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Blue,0,1,0,0,1,0,0,0,0,...,0.4,0.627907,0.077536,0.735399,0.062266,0.206947,0.832647,0.829457,0.230749,0.462462
10123,Blue,0,1,0,0,0,0,0,0,1,...,0.4,0.279070,0.085819,0.868494,0.060499,0.236679,0.459219,0.457364,0.183899,0.511512
10124,Blue,1,0,0,0,0,1,0,0,0,...,0.2,0.534884,0.120042,0.000000,0.156637,0.241095,0.544175,0.387597,0.220248,0.000000
10125,Blue,0,1,0,0,1,0,0,0,0,...,0.4,0.534884,0.116172,0.000000,0.152928,0.157492,0.438689,0.403101,0.194400,0.000000
10126,Silver,1,0,0,0,1,0,0,0,0,...,0.4,0.279070,0.270566,0.779102,0.244082,0.206947,0.544342,0.395349,0.174744,0.189189

Mengambil data 30%

In [ ]:
percent_amount_of_test_data = 0.3

Menghitung Data

In [ ]:
mat_x = Hasil.iloc[:,1:31].values
mat_y = Hasil.iloc[:,0].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(mat_x, mat_y, test_size = percent_amount_of_test_data, random_state=0)

Membuat DataFrame untuk mat_x dan mat_y

In [ ]:
DF_mat_x = pd.DataFrame(mat_x)
DF_mat_y = pd.DataFrame(mat_y)

In [ ]:
DF_mat_x

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.6,0.604651,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.720930,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.6,0.534884,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.8,0.488372,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.6,0.186047,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.4,0.627907,0.077536,0.735399,0.062266,0.206947,0.832647,0.829457,0.230749,0.462462
10123,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.4,0.279070,0.085819,0.868494,0.060499,0.236679,0.459219,0.457364,0.183899,0.511512
10124,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.2,0.534884,0.120042,0.000000,0.156637,0.241095,0.544175,0.387597,0.220248,0.000000
10125,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.4,0.534884,0.116172,0.000000,0.152928,0.157492,0.438689,0.403101,0.194400,0.000000
10126,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.4,0.279070,0.270566,0.779102,0.244082,0.206947,0.544342,0.395349,0.174744,0.189189

In [ ]:
DF_mat_y

            0
0        Blue
1        Blue
2        Blue
3        Blue
4        Blue
...       ...
10122    Blue
10123    Blue
10124    Blue
10125    Blue
10126  Silver

[10127 rows x 1 columns]

Memanggil modul untuk menghitung akurasi

In [ ]:
model_akurasi = OrderedDict()

KNN

In [ ]:
K = 15
KNN = KNeighborsClassifier(n_neighbors = K)

Model_KNN = KNN.fit(X_train,y_train)

In [ ]:
Y_prediksi_knn = KNN.predict(X_test)
DF_prediksi_knn = pd.DataFrame(Y_prediksi_knn)
DF_prediksi_knn

         0
0     Blue
1     Blue
2     Blue
3     Blue
4     Blue
...    ...
3034  Blue
3035  Blue
3036  Blue
3037  Blue
3038  Blue

[3039 rows x 1 columns]

In [ ]:
HasilKNN = (KNN.score(X_test, y_test) ) * 100
print("Hasil akurasi dari KNN sebesar {} %".format(HasilKNN))

Hasil akurasi dari KNN sebesar 92.76077657124054 %

Naive Bayes

In [ ]:
NBC = GaussianNB()
Model_NBC = NBC.fit(X_train, y_train)
Y_pred_nb = NBC.predict(X_test)
DF_prediksi_bayes = pd.DataFrame(Y_pred_nb)
DF_prediksi_bayes

             0
0       Silver
1     Platinum
2         Blue
3         Blue
4         Blue
...        ...
3034      Blue
3035      Blue
3036      Blue
3037  Platinum
3038      Blue

[3039 rows x 1 columns]

In [ ]:
HasilNBC = (NBC.score(X_test, y_test)) * 100
print("Hasil akurasi dari Naive Bayes Classifier sebesar {} %".format(HasilNBC))

Hasil akurasi dari Naive Bayes Classifier sebesar 79.89470220467258 %

Decision Tree

In [ ]:
DTC = DecisionTreeClassifier(criterion = 'entropy', random_state = 28)
Model_DTC = DTC.fit(X_train, y_train)
DTC
Y_pred_dc = DTC.predict(X_test)

In [ ]:
DF_prediksi_dtree = pd.DataFrame(Y_pred_dc)
DF_prediksi_dtree

         0
0     Blue
1     Blue
2     Blue
3     Blue
4     Blue
...    ...
3034  Blue
3035  Blue
3036  Blue
3037  Blue
3038  Blue

[3039 rows x 1 columns]

In [ ]:
HasilDTC = (DTC.score(X_test, y_test)) * 100
print("Hasil akurasi dari Decision Tree Classifier sebesar {} %".format(HasilDTC))

Hasil akurasi dari Decision Tree Classifier sebesar 97.0714050674564 %

In [ ]:
import pickle

with open('bayes.pickle','wb') as r:
  pickle.dump(Model_NBC,r)

with open('knn.pickle','wb') as r:
  pickle.dump(Model_KNN,r)

with open('dtc.pickle','wb') as r:
  pickle.dump(Model_DTC,r)

In [ ]:
import os

model_test = np.array([[1,0, 1,0,0,0,0,0,0, 0,1,0,0, 1,0,0,0,0,0, 22, 5, 13, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000]])
model_test2 = np.array([['Gold']])
# Naive Bayes Model from pickle
Bayes_Model = os.path.join('bayes.pickle')
Temp_Bayes = pickle.load(open(Bayes_Model, 'rb'))
Predict_Bayes = (Temp_Bayes.score(model_test,model_test2)*100)

print(Predict_Bayes)

# # KNN Model from pickle
# KNN_Model = os.path.join('knn.pickle')
# Temp_KNN = pickle.load(open(KNN_Model, 'rb'))
# Predict_KNN = Temp_KNN.score(model_test)*100

# #Decision Tree Model from pickle
# DTC_Model = os.path.join('dtc.pickle')
# Temp_DTC = pickle.load(open(DTC_Model, 'rb'))
# Predict_DTC = Temp_DTC.score(model_test)*100

# print(Predict_Bayes,Predict_KNN,Predict_DTC)

0.0